{% extends 'base.html.twig' %}

{% block title %}Cafés Pascal{% endblock %}

{% block body %}
    <div class="row m-3">
        <div class="col-6 m-auto">
            <img src="/images/cafes.JPG" alt="" class="col-12">
        </div>
        <div class="col-6 m-auto">
            <img src="/images/thes.JPG" alt="" class="col-12">
        </div>
        <div class="col-6 m-auto">
            <img src="/images/cafe.JPG" alt="" class="col-12">
        </div>

    </div>

    <div class="container">

        <div class="jumbotron m-3 text-center">
            <hr>
            Les commandes sont à passer de préférence par : <br>
            <ol>
                <li>Tel/SMS : <b>06.89.97.04.59</b></li>
                <li>Courriel : <a href="mailto:cafespascal@orange.fr">cafespascal@orange.fr</a></li>
                <li>Facebook <a href="https://www.facebook.com/cafespascal/"> <img src="/images/fb.png" alt=""></a></li>
            </ol>
        </div>
    </div>
{% endblock %}
